<h1 class="text-center">Hello World</h1>

<p class="text-center"><%= link_to "Football!", football_teams_path %></p>

<div class="col-xs-6 col-xs-offset-3 main_image">
  <%= image_tag "NFLShieldLogo.jpeg" %>
</div>
